@keyframes click {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    70% {
        width: 140%;
        height: 180%;
        opacity: 0.1;
    }
    100% {
        width: 160%;
        height: 200%;
        opacity: 0; 
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}