$white: #ffffff;
$lite: #f6f6f6;
$grey: #969696;
$lite-darker: #f2f2f2;

$dark: #2d2b2a;
$dark-lite: #413d3b;
$dashed: #8282821f;
$none: #211f1c00;

$shadow-sm: #211f1c16;

$primary: #da8645;

$success: #5ec383;
$danger: #e66b6d;
$warning: #e6b76b;