.text-primary {
    color: $primary !important;
}

.text-success {
    color: $success !important;
}

.text-dashed {
    color: $dashed !important;
}

.text-lite {
    color: $lite !important;
}

.text-grey {
    color: $grey !important;
}

.text-op {
    opacity: 0.6;
}