// @ IMPORT BASE
@import 'base/_reset';
@import 'base/_colors';
@import 'base/_text';
@import 'base/_ui';
@import 'base/_animations';

// @ IMPORT COMPONENTS
@import 'components/_menu';
@import 'components/_content';

// @ PAGE
body {
    overflow: hidden;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: $lite-darker;
    font-family: sans-serif;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.preview {
    width: 100vw;
    height: 100vh;
    background-color: $lite-darker;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    &.active {
        pointer-events: all;
        transform: scale(1);
        opacity: 1;
    }
    & img {
        animation: show 0.5s ease-in-out;
    }
}

@import 'base/_media';
